<header>
  <img [src]="profileURL" [alt]="fullname | titlecase" />
  <hgroup>
    <h3>{{ fullname | titlecase }}</h3>
    <h4>{{ role | uppercase }}</h4>
  </hgroup>
</header>

<mat-nav-list>
  @for (item of menu; track $index) {
    <mat-list-item [routerLink]="item.path" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkActiveOptions">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.text | titlecase }}</span>
    </mat-list-item>
  }
</mat-nav-list>

<portfolio-social />

<footer>
  COPYRIGHT © {{ copyright.year }} — <a [href]="copyright.site" target="_blank">{{ copyright.owner | uppercase }}</a>
</footer>
