<h2>Experience</h2>

<section>
  <article>
    <h3>Work experience</h3>
    <ul>
      <li>
        <header>Teknos - Ssr Frontend Development</header>
        <time>February 2020</time>
        <p>
          With several years of experience, I have played a fundamental role in developing, maintaining, and supporting dynamic, customized portals
          using AngularJS. Additionally, I have been involved in creating PWA applications with the same technologies. I also played a crucial role in
          training new team members.
        </p>
      </li>
    </ul>
  </article>
</section>
