@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #24292f;

  --color-primary: #241199;
  --color-on-primary: #ffffff;
  --color-card: var(--color-background);
  --color-on-card: var(--color-foreground);
  --color-muted: #656d76;
  --color-on-muted: #656d76;
}


@layer base {
  body {
    @apply bg-background text-foreground;
  }
  main {
    @apply lg:max-h-[calc(100dvh-8.5rem)];
  }
}
