---
import { Avatar, Badge, Card } from "@/components/ui";
import { SITE } from "@/constants";
import type { HTMLAttributes } from "astro/types";
import { getEntry, render } from "astro:content";
import Icon from "node_modules/astro-icon/components/Icon.astro";
export interface Props extends HTMLAttributes<'section'> {}

const { class: className } = Astro.props;
const about = await getEntry("about", SITE.ABOUT_ENTRY);

if(!about) return null;
const { Content } = await render(about);
---
<Card class:list={[className]}>
  <div class="flex items-center gap-4">
    <Avatar initials="MV" class="size-16" />
    <hgroup>
      <h2 class="text-xl font-bold">About me</h2>
      <div class="text-muted flex items-center gap-2 text-sm">
        <Icon name="lucide:map-pin" />
        <span>Argentina</span>
      </div>
    </hgroup>
  </div>

  <article class="flex-1 text-sm leading-relaxed text-balance">
    <Content />
  </article>

  <div class="flex flex-wrap gap-1">
    {
      about.data.technologies?.map((tech) => (
        <Badge>{tech}</Badge>
      ))
    }
  </div>
</Card>
