---
import { Card } from "@/components/ui";
import { getUser } from "@/lib/github";
import type { HTMLAttributes } from "astro/types";
export interface Props extends HTMLAttributes<'section'> {}
const { class: className } = Astro.props;

const { public_repos, created_at } = await getUser();
const repos = Math.floor(public_repos / 10) * 10;
const getYears = (dateString: Date) => new Date().getFullYear() - new Date(dateString).getFullYear();
---
<Card class:list={[className]}>
  <hgroup class="flex items-center gap-3">
    <div class="relative flex">
      <span class="absolute h-3 w-3 animate-ping rounded-full bg-green-300"></span>
      <span class="h-3 w-3 rounded-full bg-green-500"></span>
    </div>
    <h3 class="font-semibold">Available</h3>
  </hgroup>
  
  <p class="text-muted text-sm">Open to new opportunities</p>

  <div class="flex flex-1 flex-col justify-end gap-2">
    <div class="flex justify-between">
      <span class="text-muted text-sm">Projects</span>
      <span class="font-semibold">{public_repos >= 10 ? `${repos}+` : `${public_repos}`}</span>
    </div>
    <div class="flex justify-between">
      <span class="text-muted text-sm">Experience</span>
      <span class="font-semibold">{getYears(created_at)} years</span>
    </div>
  </div>
</Card>
