---
import { NETWORKS, SITE } from '@config';
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

import { Card } from '@/components/ui';
export interface Props extends HTMLAttributes<'section'> {}
const { class: className } = Astro.props;
---

<Card class:list={[className]}>
  <h2 class="font-semibold">Connect</h2>

  <ul class="space-y-3">
    {
      NETWORKS.map(({ name, url, icon }) => (
        <li>
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-primary focus-visible:text-primary flex items-center gap-2 text-sm transition-all duration-300 hover:translate-x-1 hover:underline"
          >
            <Icon name={icon} aria-hidden="true" />
            {name}
          </a>
        </li>
      ))
    }
  </ul>

  {
    SITE.cv && (
      <a
        href={SITE.cv}
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-primary focus-visible:text-primary mt-auto inline-flex items-center gap-2 text-sm transition-all duration-300 hover:translate-x-1"
      >
        <Icon name="lucide:file-down" aria-hidden="true" />
        Download CV
      </a>
    )
  }
</Card>
