---
import { NETWORKS } from '@config';
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

import { Card } from '@/components/ui';
export interface Props extends HTMLAttributes<'section'> {}
const { class: className } = Astro.props;
---

<Card class:list={[className]}>
  <h3 class="font-semibold">Connect</h3>

  <ul class="space-y-3">
    {
      NETWORKS.map(({ name, url, icon }) => (
        <li class="hover:text-primary transition-all duration-300 hover:translate-x-1 hover:underline">
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2 text-sm"
          >
            <Icon name={icon} />
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</Card>
