---
import { About, Availability, Connect, Experience, Projects, SEO, ThemeToggle } from '@components';
---

<html lang="en">
  <head>
    <SEO />
  </head>
  <body class="flex min-h-dvh flex-col justify-center gap-4 p-4">
    <header class="container mx-auto text-end">
      <ThemeToggle />
    </header>
    <main class="container mx-auto grid gap-6 md:grid-cols-3 lg:auto-rows-fr lg:grid-cols-5">
      <About />
      <Experience />
      <Availability />
      <Connect />
      <Projects />
    </main>
    <footer class="container mx-auto text-center md:text-left">
      <p class="text-muted text-sm leading-9">
        Built with ❤️ • © 2025 Mauro Viveros
        <span class="float-right">Last updated: {new Date().toLocaleDateString()}</span>
      </p>
    </footer>
  </body>
</html>
