---
import Content from "../components/Content.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <main class="container max-w-screen-lg min-h-screen mx-auto px-8 py-8 md:p-4 flex flex-col gap-4 md:flex-row">
    <Header/>
    <Content/>
  </main>
</Layout>