---
import {
  About,
  Availability,
  Connect,
  Experience,
  Projects,
} from '@/components/cards';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <main
    class:list={[
      'grid md:grid-cols-3 lg:grid-cols-5',
      'gap-6 lg:auto-rows-fr',
      'min-h-0 lg:max-h-[calc(100dvh-8rem)]',
    ]}
  >
    <About
      class:list={[
        'md:col-span-2 md:row-span-3 lg:col-span-2 lg:row-span-6',
        'animate-fade-in-up',
      ]}
    />
    <Experience
      class:list={[
        'col-start-auto md:col-start-3 md:row-span-5 lg:col-span-2 lg:row-span-2',
        'animate-fade-in-up animate-delay-100',
      ]}
    />
    <Availability
      class:list={[
        'col-span-1 row-span-1 md:row-span-2',
        'animate-fade-in-up animate-delay-200',
      ]}
    />
    <Connect
      class:list={[
        'md:col-span-1 md:row-span-2 lg:row-span-4',
        'animate-fade-in-up animate-delay-300',
      ]}
    />
    <Projects
      class:list={[
        'md:col-span-3 lg:col-span-2 lg:row-span-4',
        'animate-fade-in-up animate-delay-400',
      ]}
    />
  </main>
</Layout>
