---
import Copyright from "@components/Copyright.astro";
import Features from "@components/Features.astro";
import Profile from "@components/Profile.astro";
import SEO from "@components/SEO.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title="Mauro Viveros | linkhub"
      description="Follow me on all my socials"
    />
  </head>
  <body>
    <Profile />
    <main class="flex flex-col w-full gap-6">
      <Features />
    </main>
    <Copyright />
  </body>
</html>
