---
import Content from "../components/Content.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <main class="container max-w-screen-lg mx-auto h-full px-4 flex gap-8">
    <Header/>
    <Content/>
  </main>
</Layout>