@use "sass:map";
@use "@angular/material" as mat;

@mixin color($config){
  $primary: map.get($config, primary);

  portfolio-root > router-outlet + *{
    background-color: mat.get-color-from-palette($primary, 100);
    color: mat.get-contrast-color-from-palette($primary, 100);
  }
}

@mixin theme($theme){
  $color-config: mat.get-color-config($theme);
  @if $color-config != null { @include color($color-config); }
}

@mixin all-component-themes($theme){
  @include theme($theme);
}