:host{
  border-radius: 1rem;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.75);
  display: flex;
  flex: 1;
  margin: 2rem;
  overflow: hidden;
}

:host::ng-deep > router-outlet + *{
  flex: 1;
  overflow: auto;
  padding: 1rem;
}