<article>
  <h2 class="text-3xl font-bold mb-2">Acerca de mi</h2>
  <p class="mb-6 text-base">
    Soy Mauro Daniel Viveros, Desarrollador Senior Fullstack especializado
    en aplicaciones WEB y MOBILE, y actualmente incursionando en DEV-OPS. Mi
    carrera en IT comenzó en 2016 con programación en C y tutoriales en línea.
    Desde 2019 trabajo en <a href="https://www.teknosgroup.com/" class="underline">Teknos Technology Group</a> y también estoy disponible para proyectos
    freelance. Me apasiona desarrollar sitios web, aplicaciones y servidores.
  </p>

  <!-- <a 
          href="/path/to/your-cv.pdf" 
          download 
          class="inline-block bg-sky-950 hover:bg-sky-900 text-white font-bold py-2 px-4 rounded transition duration-300"
      >
          Descargar CV
      </a> -->
</article>

