---
import { Avatar, Card } from '@components';
import { Icon } from 'astro-icon/components';

const TECHNOLOGIES = ['Astro', 'Angular', 'NestJS', 'TailwindCSS', 'TypeScript'];
---

<Card class="md:col-span-2 md:row-span-3 lg:col-span-2 lg:row-span-5">
  <div class="flex items-center gap-4">
    <Avatar initials="MV" class="size-16" />
    <hgroup>
      <h2 class="text-xl font-bold">About me</h2>
      <div class="text-muted flex items-center gap-2 text-sm">
        <Icon name="lucide:map-pin" />
        <span>Argentina</span>
      </div>
    </hgroup>
  </div>

  <p class="flex-1 text-sm leading-relaxed text-balance">
    Over 5 years creating 💡 functional, intuitive, and accessible web experiences. As a full stack
    developer specialized in frontend, my focus is on designing solutions that are not only
    efficient but also bring value to users and make other developers’ work easier. I’m passionate
    about writing scalable, testable, and maintainable code, ensuring that every application is an
    experience people enjoy and want to return to. <br /> My programming journey began when my brother
    gave me a C book. Since then, my curiosity has led me to explore web development, learning from videos,
    forums, blogs, and documentation. <br /> My goal is for everyone to enjoy the application and want
    to come back ❤️.
  </p>

  <div class="flex flex-wrap gap-1">
    <!-- inline-flex items-center justify-center border px-2 py-0.5 font-medium w-fit whitespace-nowrap shrink-0 [&>svg]:size-3 gap-1 [&>svg]:pointer-events-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive transition-[color,box-shadow] overflow-hidden border-transparent bg-secondary text-secondary-foreground [a&]:hover:bg-secondary/90 font-sans text-xs rounded-full -->
    {
      TECHNOLOGIES.map((tech) => (
        <span class="inline-flex w-fit shrink-0 items-center justify-center rounded-full bg-gray-100 px-2 py-0.5 text-xs font-medium whitespace-nowrap">
          {tech}
        </span>
      ))
    }
  </div>
</Card>
