---
import Layout from "@layouts/Layout.astro";
import Hero from "./Hero.astro";
---

<Layout
  title="Mauro Viveros | open source"
  description="Conéctate conmigo a través de mis redes y accede a mis proyectos y experimentos open source."
>
  <main>
    <Hero/>
  </main>
</Layout>