---
import { getUser } from 'lib/github';
import Card from './ui/Card.astro';

const user = await getUser();
const { public_repos, created_at } = user;
const getYears = (dateString: string) => {
  return new Date().getFullYear() - new Date(dateString).getFullYear();
};
---

<Card class="col-span-1 row-span-1 md:row-span-2">
  <hgroup class="flex items-center gap-3">
    <div class="h-3 w-3 animate-pulse rounded-full bg-green-500"></div>
    <h3 class="font-semibold">Available</h3>
  </hgroup>

  <p class="text-muted text-sm">Open to new opportunities</p>

  <div class="flex flex-1 flex-col justify-end gap-2">
    <div class="flex justify-between">
      <span class="text-muted text-sm">Projects</span>
      <span class="font-semibold">{public_repos}+</span>
    </div>
    <div class="flex justify-between">
      <span class="text-muted text-sm">Experience</span>
      <span class="font-semibold">{getYears(created_at)} years</span>
    </div>
  </div>
</Card>
