---
import { Card } from '@components';
import { NETWORKS } from '@constants';
import { Icon } from 'astro-icon/components';
---

<Card class="md:col-span-1 md:row-span-2 lg:row-span-3">
  <h3 class="font-semibold">Connect</h3>

  <ul class="flex flex-col gap-4">
    {
      NETWORKS.map(({ url, icon, name }) => (
        <li class="hover:text-primary transition-all duration-200 hover:translate-x-1 hover:underline">
          <a href={url} target="_blank" rel="noopener noreferrer" class="flex items-center gap-3">
            <Icon name={icon} size="1rem" />
            <span class="text-sm">{name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</Card>
