---
import About from "./About.astro";
import Education from "./Education.astro";
import Interest from "./Interest.astro"
---

<section class="flex flex-col justify-center">
    <About/>
     <footer class="flex">
        <Interest class="p-4 flex-grow basis-0"/>
        <Education class="p-4 flex-grow basis-0"/>
     </footer>
</section>