---
import { USELESS_SITES } from "@constants";
const url = "https://mauroviveros.com.ar"; //https://theuselessweb.com/
const copyright = "Made with 🧉 by Mauro Viveros 🇦🇷";
---

<footer>
    <button id="useless-btn"
        title={`${copyright}`}
        class="flex rounded-3xl bg-white text-black text-sm py-4 px-6 shadow-2xl"
        style="box-shadow: #0003 0 3px 5px -1px, #00000024 0 6px 10px, #0000001f 0 1px 18px"
    >
      {copyright}
    </button>
</footer>

<script defer async define:vars={{ USELESS_SITES }}>
  const btn = document.querySelector('#useless-btn');
  let sites = [];

  const getUselessSite = () => {
    if(sites.length === 0) sites = [...USELESS_SITES];
    const random = Math.floor(Math.random() * sites.length);
    return sites.splice(random, 1)[0];
  };

  btn.addEventListener('click', () => {
    window.open(getUselessSite(), '_blank', 'noopener noreferrer');
  });
</script>