---
const educationList = [
    {
        institution: "UNAHur",
        degree: "Lic. Programación (actual)",
        website: "https://unahur.edu.ar/"
    },
    {
        institution: "ComIT",
        degree: "Aplicaciones Mobile",
        website: "https://www.comunidadit.org/"
    },
    {
        institution: "EES n° 18 Mattaldi",
        degree: "Bachiller CCNN",
        website: "https://www.mit.edu"
    }
];
---

<section class={Astro.props.class}>
    <h2 class="text-3xl mb-4">Estudios</h2>
    <ul class="md:list-disc list-inside">
        {educationList.map(education => (
            <li>
                🎓 
                <a href={education.website} target="_blank" rel="noopener noreferrer" class="underline hover:text-gray-200">
                    {education.institution} - {education.degree}
                </a>
            </li>
        ))}
    </ul>
</section>
