---
import { Avatar, Card } from '@components';
---

<Card class="col-start-auto md:col-start-3 md:row-span-5 lg:col-span-2 lg:row-span-2">
  <h3 class="font-semibold">Experience</h3>

  <ul class="flex flex-col gap-3">
    <li class="flex items-center gap-3">
      <Avatar initials="TTG" class="size-10 text-xs" />
      <div class="flex-1">
        <!-- font-semibold text-card-foreground font-sans text-sm -->
        <h4 class="text-sm font-semibold">Senior Frontend Developer</h4>
        <p class="text-muted text-xs">Teknos Technology Group. • 2020 - Present</p>
      </div>
    </li>
  </ul>
</Card>
