---
import { getI18n } from "@i18n";
import Brand from "./Brand.astro";
import SocialLinks from "./SocialLinks.astro";

const { currentLocale } = Astro;
const t = getI18n(currentLocale);
---

<footer class="relative bg-white dark:bg-black">
  <section
    class="py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25"
  >
    <div class="w-full h-full mx-auto px-5 max-w-screen-md">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
        <div class="flex flex-col items-center sm:items-start">
          <Brand />
        </div>
        <div class="flex gap-2 justify-center sm:justify-end items-center">
          <span class="relative flex h-3 w-3">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-300"/>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"/>
          </span>
          {t("footer.online")}
        </div>
      </div>
    </div>
  </section>

  <section
    class="py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25"
  >
    <div class="w-full h-full mx-auto px-5 max-w-screen-md">
      <div class="h-full grid grid-cols-1 sm:grid-cols-2 gap-3">
        <div class="order-2 sm:order-1 flex flex-col items-center justify-center sm:items-start">
          <span class="text-sm"> &copy; 2022 | {t('footer.copyright')}</span>
        </div>

        <div class="order-1 sm:order-2 flex justify-center sm:justify-end">
          <SocialLinks />
        </div>
      </div>
    </div>
  </section>
</footer>
