---
import Brand from "./Brand.astro";
import Language from "./Language.astro";
import ThemeBtn from "./ThemeBtn.astro";
---

<header id="header" class="fixed top-0 w-full h-16 z-50">
  <div class="w-full h-full mx-auto px-5 max-w-screen-md">
    <div class="relative h-full w-full">
      <div class="absolute left-0 top-1/2 -translate-y-1/2 flex gap-1">
        <Brand />
      </div>

      <div class="absolute right-0 top-1/2 -translate-y-1/2 flex gap-1">
        <ThemeBtn />
        <!-- <Language/> -->
      </div>
    </div>
  </div>
</header>

<style>
  header {
    @apply border-b;
    @apply transition-all duration-300 ease-in-out;
  }

  header:not(.scrolled) {
    @apply bg-transparent border-transparent;
  }

  header.scrolled {
    @apply bg-white/75 dark:bg-black/50;
    @apply border-black/10 dark:border-white/25;
    @apply backdrop-blur-sm;
  }
</style>
