---
import { NETWORKS } from '@constants';
import { Icon } from 'astro-icon/components';
---
<nav class="flex gap-4">
    {
        NETWORKS.map(({network, username, url, icon}) => (
            <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={`Visit ${username}'s profile on ${network}`}
                class="flex text-white rounded-md border p-3 hover:text-black hover:bg-white border-slate-200"
            >
                <Icon name={icon || 'bi:bounding-box-circles'} size="1.5rem"/>
            </a>
        ))
    }

</nav>