---
import Networks from "./Networks.astro";

const name = "Mauro Viveros";
const role = "Web developer | DEV OPS";
const image = "/profile.webp";

---

<header class="flex flex-col items-center gap-4">
    <img
        src={image}
        alt="The owner of this website"
        class="size-32 aspect-square object-cover rounded-2xl bg-white"
        loading="lazy"
        decoding="async"
    >
    <hgroup class="flex flex-col gap-2 text-center text-white">
        <h1 class="text-4xl font-bold">{name}</h1>
        <h2 class="text-xl">{role}</h2>
    </hgroup>

    <Networks/>
</header>