<figure class="flex justify-center animate-tada">
    <img class="w-48 h-48 rounded-full border-4 border-white" src="https://avatars.githubusercontent.com/u/44076914" alt="Foto de perfil en Github Mauro Daniel Viveros">
</figure>

<hgroup class="font-bold text-white text-center animate-fade-in">
    <h2 class="text-2xl">Mauro Daniel Viveros</h2>
    <h3>Desarrollador WEB | DEV-OPS</h3>
</hgroup>