---
import { SITE } from "@consts";
const SOCIAL = Astro.props.social;
---

<a
  href={SOCIAL.HREF}
  target="_blank"
  aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
  class="group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20 blend"
>
  <svg
    class="size-full fill-current group-hover:fill-black group-hover:dark:fill-white"
  >
    <use href={`/social.svg#${SOCIAL.ICON}`}></use>
  </svg>
</a>
