---
import Header from "@components/Header.astro";
import { SITE } from "@consts";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <title>{ SITE.AUTHOR }</title>

    <link rel="preload" href="/fonts/atkinson/atkinson-regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/atkinson/atkinson-bold.woff" as="font" type="font/woff" crossorigin>

    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={SITE.DESCRIPTION}>
    <meta name="keywords" content={SITE.KEYWORDS}>
    <meta name="author" content={SITE.AUTHOR}>

    <script is:inline src="/js/theme.js"></script>
    <script is:inline src="/js/animate.js"></script>
  </head>
  <body>
    <Header/>
    <slot/>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson/atkinson-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson/atkinson-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  html, body{
    @apply h-full w-full antialiased;
    @apply bg-white dark:bg-black;
    @apply text-black/75 dark:text-white/75;
  }

  html {
    overflow-y: scroll;
    color-scheme: light;
    background-color: white;
  }
  html.dark {
    color-scheme: dark;
    background-color: black;
  }


  .animate {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
  }

  .animate.show {
    opacity: 1;
    transform: translateY(0);
  }
</style>
