---
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Mauro Daniel Viveros | DEV-WEB DEV-OPS</title>

    <link rel="preload" href="/fonts/atkinson/atkinson-regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/atkinson/atkinson-bold.woff" as="font" type="font/woff" crossorigin>
  </head>
  <body>
    <slot/>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson/atkinson-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson/atkinson-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  html, body{
    @apply h-full w-full antialiased;
    @apply bg-white dark:bg-black;
    @apply text-black/75 dark:text-white/75;
  }

  html {
    overflow-y: scroll;
    color-scheme: light;
  }
  html.dark {
    color-scheme: dark;
  }
</style>