---
import type { HTMLAttributes } from 'astro/types'
export interface Props extends HTMLAttributes<'div'> {
  initials?: string;
  name?: string;
}
const { initials, name, class: className } = Astro.props;
const getInitials = (name: string) => name.split(' ').map(w => w.charAt(0)).join('');
---
<div
  class:list={[
    "bg-primary text-primary-foreground",
    "flex items-center justify-center",
    "text-2xl rounded-full font-bold",
    className
  ]}
>
  {initials || getInitials(name || '')}
</div>
