<span
  class:list={[
    "bg-background text-foreground border text-xs font-medium",
    "inline-flex justify-center items-center",
    "rounded-full px-2 py-0.5",
    Astro.props.class
  ]}}
>
  <slot/>
</span>
